@model IEnumerable<ElectionProject.Models.Election>

@{
    ViewData["Title"] = "Index";
}



<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Назва
            </th>
            <th>
                Рік
            </th>
            <th>
                К-сть турів
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tour)
                </td>
                </tr>
        }
    </tbody>
</table>
