@model IEnumerable<ElectionProject.Models.ElectionResult>
@{
    ViewData["Title"] = "About";
}



<table class="table">
    <thead>
    <th>
        Ім'я
    </th>
    <th>
        Прізвище
    </th>
    <th>
        Рейтинг
    </th>
    </thead>
    <tbody>
        @foreach (var distr in Model)
        {
            <tr>
                <td>@distr.first_name</td>
                <td>@distr.last_name</td>
                <td>@Math.Round(distr.candidate_percent, 2)%</td>
            </tr>
        }
    </tbody>
</table>
