@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">

        h1 {
            text-align: center;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #333366;
        }
        h4 {
            text-align: center;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #333366;
        }
        p {
            text-align: center;
            font-style: italic;
            font-family: Avantgarde,  sans-serif;
            color: #333366;
            font-size: 20px;
            font-weight: bold;
        }
        .btn {
            text-align: center;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            padding: 10px 24px;
            border-radius: 12px;
            background-color: white;
            color: black;
            border: 3px solid #333366;
            /*left: 50%;
            margin-right: -50%;*/
        }
        .btn:hover {
                background-color: #333366;
                color: white;
                text-align: center;
        }
        a {
            text-align: center;
            color:lightskyblue;
        }
    </style>
</head>

<body>
    <br > <br />
    <h1>Bітаємо Вас </h1>
    <h4> на WEB-сайті Центральної виборчої комісії!</h4>
    <p>
        Невід'ємне право громадянина демократичної держави – вільно обирати владу. Неодмінний обов'язок демократичної держави – забезпечити своїм громадянам можливість реалізувати це право.

        Центральна виборча комісія виконує свою високу місію і безпосереднє завдання – забезпечити реалізацію та захист конституційних виборчих прав громадян України і прав на участь у референдумах, суверенного права Українського народу на виявлення своєї волі.
    </p>
    <p>
        Дякуємо вам за виявлений інтерес до Центральної виборчої комісії й виборчих процесів в Україні. Запрошуємо всіх користувачів мережі Internet до співпраці, чекаємо на ваші відгуки й побажання.


    </p>
    <p>-------------------------------</p>
    <h4> Щоб дізнатись більше увійдіть в систему, будь ласка</h4>
    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
        Увійти
    </a>
    <p>  </p>
    <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Зареєструватись</a>


</body>