@{
    ViewData["Title"] = "Home Page";
}


<div class="row" style="margin-top: 10%;">
    <div class="col text-center" >
        <h1>Bітаємо Вас </h1>
        <h4 style="margin-bottom: 50px;"> на WEB-сайті Центральної виборчої комісії!</h4>
        <p>
            Невід'ємне право громадянина демократичної держави – вільно обирати владу. Неодмінний обов'язок демократичної держави – забезпечити своїм громадянам можливість реалізувати це право.
            @*Центральна виборча комісія виконує свою високу місію і безпосереднє завдання – забезпечити реалізацію та захист конституційних виборчих прав громадян України і прав на участь у референдумах, суверенного права Українського народу на виявлення своєї волі.*@<br />
            <br />Дякуємо вам за виявлений інтерес до Центральної виборчої комісії й виборчих процесів в Україні. Запрошуємо всіх користувачів мережі Internet до співпраці, чекаємо на ваші відгуки й побажання.
        </p>
        <hr style=" width:10%; border-top: 5px dotted; margin: 40px auto;" />
        <h5 style="margin-bottom: 30px;"> Щоб дізнатись більше увійдіть в систему, будь ласка</h5>
        <a style="margin: 0 auto 25px auto; display: block; width: 125px" class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
            Увійти
        </a>
        <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Зареєструватись</a>
    </div>
</div>