@{
    ViewData["Title"] = "Final";
}
<div class="row" style="margin-top: 75px;">
    <div class="col text-center">

        <h4 style="margin-bottom: 50px;"> Ваш голос успішно зберігся!</h4>

        <hr style=" width:10%; border-top: 5px dotted; margin: 40px auto;" />

        <a style="margin-bottom:25px;" class="btn btn-default" href="http://localhost:5000/"">
           
            Повернутись на Головну
        </a>
        <br />

    </div>
</div>