@model IEnumerable<ElectionProject.Models.Vote>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>Вибори, доступні для голосування</h2>
    <br> <br />
    <ul>
        <li ><a asp-controller="Elections" asp-action="Index">Вибори Президента України</a></li>

    </ul>
</body>