@model IEnumerable<ElectionProject.Models.Election>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>Вибори, доступні для голосування</h2>
    <br> <br />
    <ul>
        @foreach (var item in Model)
        {
            <li>
                 <a asp-area="" asp-controller="Vote" asp-action="Vote" asp-route-electionId="@item.Id" >@item.Name @item.Year</a>
            </li>
        }

    </ul>
</body>