@model IEnumerable<ElectionProject.Models.Election>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>Вибори, доступні для голосування</h2>
    <br> <br />
         <ul>
             
             @foreach (var item in Model)
             {
                 var param = new Dictionary<string, string>
                 {
                     {"electionId", item.Id.ToString()}
                 };
                 <li><a asp-area="" asp-controller="Vote" asp-action="Vote" asp-all-route-data="param">@Html.DisplayFor(x => item.Name)</a></li>
                 
             }

         </ul>
</body>