@model IEnumerable<ElectionProject.Models.Candidate>

@{
    ViewData["Title"] = "Vote";
}

<br> <br />
<h2>Щоб проголосувати, виберіть кандидата</h2>

<br><br />

<table class="table">
    <thead>
        <tr>
            <td>
                №
            </td>
            <td>
                Прізвище
            </td>
            <td>
                іМ’Я
            </td>
            <td>
                Голос
            <td />
            <td></td>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor((modelItem => item.Citizen.FirstName))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Citizen.LastName)
                </td>
                <td>
                    <input type="radio" />
                    &nbsp;
                </td>
            </tr>

            }@
    



    </tbody>
</table>

<div class="container">
    <button type="button" class="btn btn-default">Підтвердити</button>
</div>


